* { box-sizing: border-box; font-family: "Open Sans", sans-serif; }

.row:before, .row:after { content: ""; display: table; clear: both; }

body { margin: 0 auto; }

.jumbotron { height: 100vh; background-image: url(../images/background.jpg); position: relative; background-size: cover; background-position: center bottom; overflow: hidden; -o-object-fit: cover; object-fit: cover; }

#navbar-brand--overrides { color: #fed136; font-family: "Dancing Script", cursive; font-size: 40px; }

.navbar-collapse ul li > a { text-transform: uppercase; padding-right: 20px; padding-left: 20px; color: #fff; transition: all .2s ease-in-out; }

.navbar-collapse ul li > a:hover { background: transparent; color: #fed136; transform: scale(1.2); }

.navbar-nav > li > a:focus { background-color: transparent; color: #fed136; }

.navbar-toggle .icon-bar { background: #fed136; }

.background { margin-top: 29vh; color: #fff; }

.background > p:first-child { font-size: 40px; font-style: italic; font-family: "Montserrat", sans-serif; text-transform: capitalize; }

.background > p:nth-child(2) { font-size: 75px; font-family: "Montserrat", sans-serif; font-weight: 700; text-transform: uppercase; margin-top: 20px; }

.background > .btn, .background .btn-lg { padding: 25px 65px; background: #fed136; font-weight: bold; font-family: "Montserrat", sans-serif; margin-top: 30px; }

.section-paddingTopBottom { padding: 0 100px; }

@media only screen and (max-width: 768px) { .navbar-collapse ul { overflow: hidden; }
  .navbar-collapse ul li > a { color: #fff; transition: none; }
  .navbar-collapse ul li > a:hover { background: rgba(0, 0, 0, 0); color: #fff; transform: scale(1); }
  .background { margin-top: 10vh; } }
