$golden: #fed136;
$white: #fff;
$smallText: #777;
$dancingScript: 'Dancing Script', cursive;
$openSans: 'Open Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$section-paddingTopBottom--background: #F7F7F7;
@mixin smallText {
    font-size: 16px;
    font-family: $montserrat;
    font-style: italic;
    color:$smallText;
}
@mixin description {
  font-size: 14px;
  font-family: $montserrat;
  color:$smallText;
}
@mixin smallTitle {
  font-size: 18px;
  font-family: $montserrat;
  font-weight: 700;
  text-transform: capitalize;
}
@mixin title{
  font-size: 40px;
    font-family: $montserrat;
    font-weight: 700;
    text-transform: uppercase;
  }


* { box-sizing: border-box; font-family: $openSans; }
.row:before, .row:after { content: ""; display: table; clear: both; }
body { margin: 0 auto;}

.jumbotron {
  height: 100vh;
  background-image: url(../images/background.jpg); 
  position: relative;
  background-size: cover;
  background-position: center bottom;
  overflow: hidden;
  object-fit: cover;
}
#navbar-brand--overrides {
  color: $golden;
  font-family: $dancingScript;
  font-size: 40px;
}
.navbar-collapse {
  
  ul {
    li {
      > a {
          text-transform: uppercase;
          padding-right: 20px;
          padding-left: 20px;
          color: $white;
          transition: all .2s ease-in-out;
          &:hover {
                background: transparent;
                color: $golden;
                transform: scale(1.2);
          }
      }
    }
  } 
}
.navbar-nav > li > a:focus {
    background-color: transparent; //yellow
    color: $golden;
}

.navbar-toggle .icon-bar {
        background:$golden;
      }

.background {
  margin-top: 29vh;
  color: $white;
}
.background {
  > p:first-child {
    font-size: 40px;
    font-style: italic;
    font-family: $montserrat;
    text-transform: capitalize;
  }
  > p:nth-child(2) {
    font-size: 75px;
    font-family: $montserrat;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
  }
  >.btn, .btn-lg {
  padding: 25px 65px;
  background: $golden;
  font-weight: bold;
  font-family: $montserrat;
  margin-top: 30px;
}
}

.section-paddingTopBottom {
  padding: 100px 0;
}
.services {
  > p:first-child {
    @include title;
  }
  > p:nth-child(2){
    @include smallText;
  }
}
.fa {
  border-radius: 50%;
  border: 3px solid $golden;
  font-size: 40px;
  color: $golden;
  line-height: 80px;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  transition: all .2s ease-in-out;
    &:hover {
      background: $golden;
      color: $white;
    }
}
.iconsText {
  margin-top: 80px;
  div {
    >p:nth-child(2){
      @include smallTitle;
    }
    >p:nth-child(3){
      @include smallText;
    }
  }
}
.section-paddingTopBottom--background{
  background-color: $section-paddingTopBottom--background;
}
.images {
  margin-top: 70px;
  > div:nth-of-type(1){
    margin-bottom: 30px;
  }
  > div > div {
    border: 0px solid black;
    > img {
      height: auto;
      width: 100%;
      object-fit: cover;
      }
    > div {
      padding: 25px 0;
      background: $white;
      >p:nth-child(1){
        @include smallTitle;
        margin-bottom: 0px;
      }
      >p:nth-child(2){
        @include description;
      }
      }
    }
  }
.history {
  div {
    >p:nth-child(1){
      @include smallTitle;
    }
    >p:nth-child(2){
      @include smallTitle;
    }
    >p:nth-child(3){
      @include description;
    }
  }
}
.history--marginTop {
  margin-top: 100px;
}
.history--line {
  height: 70px;
  > div:nth-of-type(1){
    border-right: 1px solid $section-paddingTopBottom--background;
    min-height: 70px;
  }
  > div:nth-of-type(2){
    border-left: 1px solid $section-paddingTopBottom--background;
    min-height: 70px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-collapse {
   ul {
      overflow: hidden;
      li {
        > a {
            color: $white;
            transition: none;
            &:hover {
                  background: rgba(0,0,0,0.0);
                  color: $white;
                  transform: scale(1);
            }
          }
        }
      }
    }
  .background {
    margin-top: 4vh;
  }
  .fa {
    margin-top: 30px;
  }
  .iconsText {
    margin-top: 30px;
  }
  .images {
    > div:nth-of-type(1){
      margin-bottom: 0px;
    }
    > div > div {
      margin-bottom: 30px;
    }
  }
  .history {
    div {
      text-align: center;
      img {
        margin-bottom: 50px;
        position: relative;
      }
      /*img::before{
        content: "";
        display: block;
        height: 1px;
        width: 60%;
        position: absolute;
        top: -1px;
        left: 0;
        background-color: $section-paddingTopBottom--background;
      }
      img::after{
        content: "";
        display: block;
        height: 1px;
        width: 60%;
        position: absolute;
        bottom: -1px;
        left: 0;
        background-color: $section-paddingTopBottom--background;
      }*/
    }
  }
 .history--line {
  display: none;
 }
 .flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .flexbox--1{
    order: 1;
    flex: 1 0 100%;
    }
    .flexbox--2{
    order: 2;
    flex: 1 0 100%;
    }
    .flexbox--3{
    order: 3;
    flex: 1 0 100%;
   }
 }
}
/*  .history {
    .test {
      left: 70%;
    }
    .test1{
      right: 25%;
    }
    .test2{
      right: 0%;
    }
  }*/
@media only screen and (max-width: 992px){
  .fa {
    margin-top: 30px;
  }
  .iconsText {
    margin-top: 30px;
  }
  .history--line {
  height: 150px;
    > div:nth-of-type(1){
    border-right: 1px solid $section-paddingTopBottom--background;
    min-height: 150px;
    }
    > div:nth-of-type(2){
    border-left: 1px solid $section-paddingTopBottom--background;
    min-height: 150px;
  }
}
  }

